@media screen and (max-width: 800px) {
  h1 {
  	font-size: 2.5rem;
  }

  h2 {
  	font-size: 2rem;
  }

  h3 {
  	font-size: 1.75rem;
  }

  h4 {
  	font-size:1.5rem;
  }

  h5 {
  	font-size: 1.25rem;
  }

  h6 {
  	font-size: .75rem;
  }

  .logo a:last-child {
    top: auto;
    bottom: -2rem;
    left: auto;
  }

  .gamer__trophies {
    position: relative;
    top: 0;
    left: 0;
    padding: 0;
  }

  .vk {
    text-align: center;
  }

  .vk > * {
    margin: .5rem auto;
    float: none;
  }
}
